	<h2>Congratulations!</h2>
	<div>Your dish looks yummy! It looks like you are an awesome chef ;)</div>
	<div id="healthiness-div" class="mtop20 span2 offset5">
		<div><img id="healthiness-image" src="" width="60px;"><br/><strong id="calories"> </strong><br/>calories</div>
	</div>
	<div class="row">
		<div class="span4 balance-left balance-left-loc">
		</div>
		<div class="span4">
		</div>
		<div class="span4 balance-right balance-right-loc">
		</div>
	</div>
	<div>
		<img id="balance" src="">
	</div>
	<div class="row">
		<h6 class="span4 mtopm20">
			Healthy<br/> Stuff
		</h6>
		<div class="span3">
		</div>
		<h6 class="span4 mtopm20">
			Not So<br/>Healthy Stuff
		</h6>
	</div>
