<body class="bluebg">
<div class="container whitebg mtop20">
	<h2>Congratulations, you made a delicious [name]!</h2>
	<div>Your [name] looks yummy! It looks like you are an awesome chef ;)</div>
	<div class="mtop20 bg-grey span7 offset2">
		<div><strong>Nutritional info:</strong> Healthy? <span class="label label-success">Yay!</span> Calories: <strong>[nn]</strong></div>
	</div>
	<div class="row">
		<div class="span4 balance-left">
		</div>
		<div class="span4">
		</div>
		<div class="span4 balance-right">
		</div>
	</div>
	<div>
		<img src="/assets/seasaw-2.png">
	</div>
	<div class="row">
		<h6 class="span4 mtopm40">
			Healthy<br/> Stuff
		</h6>
		<div class="span4">
		</div>
		<h6 class="span4 mtopm40">
			Not So<br/>Healthy Stuff
		</h6>
	</div>
</div>
</body>