<h1 class='thing'>What Food Group Do I Belong To?</h1>
<div class='divider'>
<img src="/assets/beef.png">
  <% @foods.each do |food| %>
  <div class='food'><%= food.name %></div>
  <div class 'food-group'><%= @food_groups.sample.name %></div>
<% end %>
</div>
