<head>
  <title>Kids Food Game</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="bluebg">
	<div class="container whitebg">
		<%= image_tag "logo.png", :size => "300x302" %>
		<h2>Welcome to Fun with Food</h2>
		<div>Choose some yummy ingredients and create your own recipes!</div>
		<button class="btn btn-large btn-red mtop20">Let's make some food!</button>
	</div>
</body>


