
<body class="bluebg">
	<div class="container whitebg mtop20">
		<div id="logo"></div>
		<h2>Welcome to Fun with Food</h2>
		<div>Choose some yummy ingredients and create your own recipes!</div>
		<%= button_to("Let's make some food!", 'game/food_selections', class: "btn btn-large btn-red mtop20", method: :get) %>
	</div>
</body>
