// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inactive
{
	display: none;
}

.results_inactive
{
	display: none;
}

.no-bullet{
	list-style-type: none;
}
.mleft60{
	margin-left:60px;
}
.mtopm40{
	margin-top:-40px;
}
.mtop10{
	margin-top:10px;
}
.mtop20{
	margin-top:20px;
}
.right{
	text-align:right;
}
.mbottom10{
	margin-bottom:10px;
}
.mbottom20{
	margin-bottom:20px;
}
.basket{
	background-color:#ccffff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:5px;
	font-size:20px;
}
.bg-grey{
	background-color:#f3f3f3;
	-moz-border-radius: 10px;
	border-radius: 5px;
	padding:10px;
}
