.bg-ok{
	background-color:#99ff00;
	width:120px;
	height:110px;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	font-size:18px;
	padding-top:10px;
}
.bg-mid{
	background-color:#ffcc00;
	width:120px;
	height:110px;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	font-size:18px;
	padding-top:10px;
}
.bg-ko{
	background-color:#ff3300;
	width:120px;
	height:110px;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	font-size:18px;
	padding-top:10px;
}